@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hi+Melody&display=swap');
:root {
    --primary-color: #000;
    --secondary-color: #726da8;
    --accent1-color: #2c6e49;
    --accent2-color: #496f5d;

    --heading-font: 'Indie Flower', handwriting;
    --paragraph-font: 'Hi Melody', handwriting;

    --nav-background-color: cyan;
    --nav-link-color: #00008B;
    --nav-hover-link-color: #00008B;
    --nav-hover-background-color: #87cefa;
 }
header, main, footer, .hero img {
    width: 840px;
    margin: 0 auto;
}
body {
    padding: 20px;
}
h1 {
    font-family: var(--heading-font);
    color: #000;
    position: absolute;
    text-align: center;
    background: white;
    font-size: 3rem;
	border: 1px solid #000;
    opacity: 0.5;
	padding-left: 5rem;
    padding-right: 5rem;
    top: 0px;
    width: 678px;
}
h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
}
header {
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    align-self: center;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
header img {
    padding-left: 3rem;
}
p {
    padding: 1rem;
}
.hero {
    position: relative;
}
div img {
    width: 960px;
    height: auto;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
nav a {
    color: #000;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--secondary-color);
}
article {
    position: absolute;
    top: 70px;
    right: 150px;
    background: #247;
    border: 1px solid #000;
    padding: 0.1rem;
    opacity: 0.9;
    top: 150px;
    right: 65px;
    width: 700px;
}
.hero article img {
    float: right;
    width: 150px;
    height: auto;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
}
.history {
    border: 1px solid #000;
    padding: 1rem;
    margin-bottom: 1rem;
}
footer {
    margin-top: 2rem;
	border: 1px solid #000;
	color: navy;
	font-weight: 700;
	font-style: italic;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4.25rem;
    background-color: var(--accent1-color);
}
.adventure {
    border: 1px solid #000;
}
.advimg {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}
figure {
    flex: 20%;
    padding: 5px;
}
figure img {
    width: 80px;
    height: auto;
    justify-content: flex-start;
}
figcaption {
    font-size: 0.75rem;
}
.social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
footer img {
    float: left;
    width: 50px;
    height: auto;
}
header nav a {
    border: 2px solid #000;
}