@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hi+Melody&display=swap');
:root {
    --primary-color: #000;
    --secondary-color: gold;
    --accent1-color: #38f88b;
    --accent2-color: #496f5d;

    --heading-font: 'Indie Flower', handwriting;
    --paragraph-font: 'Hi Melody', handwriting;

    --nav-background-color: cyan;
    --nav-link-color: #00008B;
    --nav-hover-link-color: #00008B;
    --nav-hover-background-color: #87cefa;
 }
header, main, footer, .hero img {
    width: 840px;
    margin: 0 auto;
}
body {
    padding: 20px;
}
body {
    background-color: var(--nav-background-color);
    padding: 0;
    margin: 0;
}
h1 {
    font-family: var(--heading-font);
    color: #000;
    position: absolute;
    text-align: center;
    background: white;
    font-size: 3rem;
	border: 1px solid #000;
    opacity: 0.5;
	padding-left: 5rem;
    padding-right: 5rem;
    top: 0px;
    width: 678px;
}
h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--nav-link-color);
    display: flex;
    justify-content: center;
}
header {
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    align-self: center;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
header img {
    padding-left: 3rem;
}
p {
    padding: 1rem;
}
.hero {
    position: relative;
}
div img {
    width: 960px;
    height: auto;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
nav a {
    color: #000;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--nav-link-color);
}
article {
    position: absolute;
    top: 70px;
    right: 150px;
    background: var(--nav-background-color);
    border: 1px solid #000;
    padding: 0.1rem;
    opacity: 0.9;
    top: 150px;
    right: 65px;
    width: 700px;
}
.hero article img {
    float: right;
    width: 150px;
    height: auto;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
}
.history {
    border: 1px solid #000;
    padding: 1rem;
    margin-bottom: 1rem;
}
footer {
    margin-top: 2rem;
	border: 1px solid #000;
	color: navy;
	font-weight: 700;
	font-style: italic;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4.25rem;
    background-color: var(--accent1-color);
}
.adventure {
    border: 1px solid #000;
}
.advimg img {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
}
.advimg figcaption {
    font-size: 1.5rem;
    font-family: var(--paragraph-font);
    color: var(--nav-link-color)
}
figure {
    flex: 20%;
    padding: 5px;
}
figure img {
    width: 80px;
    height: auto;
    justify-content: flex-start;
}
figcaption {
    font-size: 0.75rem;
}
.social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
footer img {
    width: auto;
    height: 50px;
}
header nav a {
    border: 2px solid #000;
}
.contact {
    position: absolute;
    align-items: center;
    top: 253px;
}
.where {
    background: #778899;
    border: 1px solid #000;
	padding: 0.1rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: var(--paragraph-font);
    font-size: 1.5rem;
}
.who {
    background: #778899;
    border: 1px solid #000;
	padding: 0.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.who figcaption {
    font-size: 1.08rem;
}
.images {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}
figure img {
    width: 185px;
    height: auto;
    justify-content: flex-start;
}
.fform {
    background: #778899;
    border: 1px solid #000;
	padding: 0.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.map {
    padding: 1rem;
}
form {
    width: 650px;
    margin: 0 auto;
    padding: .5rem;
    border: 1px solid #000;
    border-radius: .75rem;
    background-color: #f0e8e8;
    display: grid;
    margin-bottom: 1rem;
}
fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: .75rem;
    padding: 1rem;
    border: .5px solid #000;
}
legend {
    padding: .3rem;
    color:rgb(64, 64, 148);
    font-size: 1.2rem;
}
label {
    text-align: left;
    font-size: 1.2rem;
    padding-right: 1rem;
}
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}
button {
    margin: 1rem;
    background-color: var(--accent1-color);
    color: var(--nav-link-color);
    border: none;
    border-radius: 5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
button:hover {
    background-color: var(--nav-hover-background-color);
}
input[type="checkbox"] {
    width: 22px;
    height: 22px;
}
input[type="radio"] {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}
.column1 {
    grid-template-columns: 3fr 2fr;
    margin: 0.5rem 0;
}