@import url('https://fonts.google.com/specimen/Indie+Flower?category=Handwriting&query=indie');
@import url('https://fonts.google.com/specimen/Hi+Melody?category=Handwriting&query=melody');
 
:root {
    --primary-color: [#bcd8c1]
    --secondary-color: [#726da8]
    --accent1-color: [#2c6e49]
    --accent2-color: [#496f5d]

    --heading-font: 'Indie Flower', handwriting;
    --paragraph-font: 'Hi Melody', handwriting;

    --nav-background-color: #d3d3d3;
    --nav-link-color: #40e0d0;
    --nav-hover-link-color: #add8e6;
    --nav-hover-background-color: #87cefa;
 }

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px
 }


h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(#2c6e49)
 }

header {
    padding: 20px;
    background-color: var(#bcd8c1)
 }

p {padding: 25px;
}

nav {
    background-color: var(#d3d3d3);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(#40e0d0);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(#40e0d0)
}

nav a:hover {
    color: var(#add8e6);
    background-color: var(#87cefa)
}