@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hi+Melody&display=swap');
:root {
    --primary-color: #000;
    --secondary-color: gold;
    --accent1-color: #38f88b;
    --accent2-color: #496f5d;

    --heading-font: 'Indie Flower', handwriting;
    --paragraph-font: 'Hi Melody', handwriting;

    --nav-background-color: cyan;
    --nav-link-color: #00008B;
    --nav-hover-link-color: #00008B;
    --nav-hover-background-color: #87cefa;
 }
*, footer, main, body, header {
    max-width: 840px;
	margin: 0 auto;
    padding: 0;
}
body {
    background-color: var(--nav-background-color);
    padding: 0;
    margin: 0;
}
header {
    background-color: var(--accent1-color);
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: 35% 65%;
    padding: 1rem;
    gap: 1em;
}
p {
    display: flex;
    align-items: center;
    color: var(--nav-link-color);
    font-family: var(--paragraph-font);
}
h1 {
    display: flex;
    justify-content: center;
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: white;
    font-size: 3rem;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2.25rem;
}
h5 {
    display: flex;
    justify-content: center;
    font-family: var(--heading-font);
    color: var(--nav-hover-link-color);
    background-color: var(--accent1-color);
    font-size: 4.25rem;
    font-weight: 900;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0.5rem;
    border-top: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}
.booknow img {
    background-color: var(--secondary-color);
    width: 100%;
    height: auto;
}
.adventure img {
    width: 100%;
    height: auto;
    background-color: var(--nav-hover-background-color);
}
.booknow h1, .adventure h1 {
    position: absolute;
    top: 500px;
    opacity: .7;
}
.bookinfo p {
    display: flex;
    justify-content: center;
    width: 80%;
    padding-bottom: 2rem;
    font-size: 1.55rem;
}
button[id="bookings"] {
    display: flex;
    justify-content: center;
}
hr {
    color: var(--accent2-color);
    background-color: var(--accent2-color);
    height: .1rem;
}
h2 {
    display: flex;
    justify-content: center;
    font-family: var(--heading-font);
    color: var(--nav-link-color);
    font-size: 2rem;
    text-decoration: underline;
}
h3 {
    display: flex;
    align-items: center;
    font-family: var(--heading-font);
    color: var(--nav-link-color);
    font-size: 2em;
    text-decoration: underline;
}
h4 {
    display: flex;
    align-items: center;
    font-family: var(--heading-font);
    color: var(--nav-link-color);
    font-size: 3rem;
    text-decoration: underline;
}
.river2 figcaption {
    padding-bottom: 1rem;
}
.trips img, .equip img {
    width: 275px;
    height: auto;
}
.fun img {
    width: 750px;
    height: auto;
    padding-top: 20px;
}
.longtrips {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    align-items: center;
}
.fun figcaption {
    font-size: 2rem;
    font-family: var(--heading-font);
    font-weight: 900;
    color: var(--nav-link-color);
}
.fun {
    display: grid;
    align-items: center;
}
.rental {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    align-items: center;  
}
.shorttrips {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}
.sale {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;   
}
figure {
    display: block;
    text-align: center;
}
nav {
    font-size: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
}
nav a {
    color: #000;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--nav-link-color);
}
header nav a {
    border: 2px solid #000;
}
.socialmedia {
    display: flex;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {    
    color: var(--nav-hover-link-color);
    background-color: var(--nav-link-color);
    height: fit-content;
}
footer {
    margin-top: 2rem;
	border: 1px solid #000;
	color: navy;
	font-weight: 700;
	font-style: italic;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4.25rem;
    background-color: var(--accent1-color);
}
.social img {
    display: flex;
    justify-content: space-around;
    width: auto;
    height: 50px;
}
button {
    display: flex; 
    justify-content: center;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
}
button:hover {
    background-color: var(--accent1-color);
}